#dashboard {
	@media (max-width: 767px) {	
		/* display:flex screws up Bootstrap columns in mobile */
		.course.flex {
			display: block !important;
		}

		.course {
			height: auto;
			padding-top: 10px;
			padding-bottom: 10px;
			.bookcover {
				margin-left: 0;
			}
			.coursebutton {
				padding-top: 10px;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.course { 
			height: 120px;
			padding-top: 10px;
			padding-bottom: 10px;
			.bookcover {
				margin-left: 30px;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		.course { 
			height: 120px;
			padding-top: 10px;
			padding-bottom: 10px;
			.bookcover {
				margin-left: 30px;
			}
		}
	}
	@media (min-width: 1200px) {
		.course { 
			height: 120px;
			padding-top: 10px;
			padding-bottom: 10px;
			.bookcover {
				margin-left: 30px;
			}
		}
	}
	.course {
		width: 100%;
		border: 2px solid $borderGray;
		background-color: $backgroundGray;
		margin: 15px 0;
		.bookcover {
			img {
				border: 1px solid black;
				max-width: 76px;
			}
		}
		.courseinfo {
			color: $dashboardItemTextGray;
			font-size: 12px;
			font-style: italic;
			span {
				width: 100%;
			}
			.coursetitle {
				color: $dashboardItemTitleBlue;
				font-size: 18px;
				font-weight: bold;
				font-style: normal;
			}
		}
		.coursebutton {
			.enterproduct {
				width: 120px;
				height: 30px;
				color: white;
				background-color: $buttonBackgroundBlue;
				border: 0;
				font-size: 14px;
    			font-weight: 100;
			}
		}
	}
}
