/* Place Global SASS variables here */

$labelGray: #666;
$errorRed: #E62631;
$backgroundGray: #EFEFEF;
$buttonForegroundWhite: #ffffff;
$buttonBackgroundBlue: #1070B0;
$buttonDisabledBackgroundBlue: #96BCD6;
$buttonDisabledForegroundWhite: #EAEEF1;
$inputBorderGray: #BBBBBB;
$borderGray: #A3A3A3;
$dashboardItemTitleBlue: #2B72A5;
$dashboardItemTextGray: #8D8D8D;
$headerBlue: #1E78B4;