/* Place Global SASS variables here */

$green: #3ac68b;

$labelGray: #666;
$errorRed: #E62631;
$backgroundGray: #e8e8e8;
$buttonForegroundWhite: #ffffff;
$buttonBackgroundBlue: #1070b0;
$buttonDisabledBackgroundBlue: #96BCD6;
$buttonDisabledForegroundWhite: #EAEEF1;
$inputBorderGray: #BBBBBB;
$borderGray: #5C5C5C;
