#siteheader {
    width: 100%;
    background: #e8e8e8;
    border: 0;
    height: 60px;
    color: #333;
    font-family: helvetica, arial, sans-serif;
    margin: 0 0 20px 0;
    .logo {
        width: 80%;
        float: left;
    }
    #accountSection {
        width: 20%;
        float: right;
        line-height: 60px;
        text-align: right;
        color: #666;
        &.false {
            display: none;
        }
        .itemDivider {
            border-left: 2px solid gray;
            width: 2px;
            height: auto;
            margin: 0 10px;
        }
        .logout {
            color: $headerBlue;
            cursor: pointer;
        }
    }
}


